/* General Styling */
body {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    font: 15px/ Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f7e4e0;
}

/* Header Styles */
header {
    background: #a79482;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #4f271c 3px solid;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #4f271c;
    font-weight: bold;
}

/* Showcase Styles */
#showcase {
    min-height: 400px;
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;

    position: relative;
}

#showcase h1 {
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline;
    font-weight: lighter;
    -webkit-text-stroke-width: 0.5px;
}






#quote-container {
    position: absolute;
    margin-top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#quote-text {

    max-width: 80%;
    margin: auto;
}

@media(max-width: 768px) {
    #quote-container {
        width: 90%;
    }

    #quote-text {

        max-width: 80%;
        margin: auto;
    }






    #showcase p {
        font-size: 15px;
    }
}


/* Newsletter Styles */
#newsletter {
    padding: 0px;
    color: #ffffff;
    background: #a79482;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
    padding-top: 10px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes Styles */
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

#boxes .box img {
    width: 80px;
    transition: transform 0.3s ease-in-out;
}

#boxes .box img[src="./img/logo_3.png"] {
    width: 110px;
}

#boxes .box:hover {
    transform: scale(1.1);
}

#boxes .box img:hover {
    transform: scale(1.1);
    animation: rotate 0.5s ease-in-out infinite;
}

/* Footer Styles */
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #a79482;
    text-align: center;
}

/* Sidebar Styles */
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
    text-align: justify;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;

}

/* Main-Col Styles */
article#main-col {
    float: left;
    width: 65%;
    margin-top: 40px;
}

/* Services Styles */
ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

/* Media Queries */
@media(max-width: 768px) {

    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button,
    .quote button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"],
    .quote input,
    .quote textarea {
        width: 100%;
        margin-top: 5px;
    }
}

/* Miscellaneous Styles */
span1 {
    font-size: 15px;
    letter-spacing: 1px;
}

#quote-text {
    font-size: 24px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#branding:hover img {
    animation: rotate 0.5s ease-in-out infinite;
}

header a:hover {
    color: aquamarine;
}

h1 {
    display: flex;
    align-items: center;
}

h1 img {
    width: 50px;
    margin-right: 10px;
}

h1 a img {
    width: 24px;
    margin-left: 5px;
}

h1 span:last-child {
    font-size: 14px;
    margin-top: 14px;
    margin-left: 5px;
}

.highlight {
    margin-right: 10px;
}

#quote-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
}

p {
    align-items: center;
}

p img {
    width: 24px;
    margin-right: 10px;
    vertical-align: middle;

}



h5 img {
    width: 24px;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: 5px;
}

/* Global Styles */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container a:hover {
    color: #4f271c;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    background: #4f271c;
    height: 38px;
    border: 0;
    color: #ffffff;
    padding: 0 20px 0 20px;
}

.dark {
    padding: 15px;
    background: #473f38;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dark a {
    color: white;
}

.dark a:hover {
    color: #4f271c;
}